.complete-department {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-department-content {
    width: 95%;
    height: 100%;
    display: flex;    
}

.department-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.department-img img {
    width: 65%;
    height: 70%;
}

.department-text {
    width: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.department-text h1 {
    font-size: 40px;
    padding-bottom: 45px;
}

.department-text span {
    font-weight: bold;
}

.department-text p {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.6px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {

    .complete-department {
        height: 100vh;
        margin-top: 10%;
    }
    
    .complete-department-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    .department-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
        margin-top: 10%;
    }

    .department-img img {
        width: 90%;
        height: 100%;
        object-fit: contain;
    }

    .department-text {
        width: 90%;
        text-align: center;
        margin-left: 0;
    }

    .department-text h1 {
        padding-bottom: 45px;
    }

    .department-text p {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.6px;
        padding-bottom: 20px;
    }
    
}