.footer {
    height: 60vh;
    width: 100%;
    margin-top: 40px;
    background-color: #0A459E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content h1 {
    font-size: 42px;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.footer-content span {
    font-weight: bold;
}

.footer-btn {
    padding: 15px 35px;
    background-color: #FFBE3C;
    border: none;
    border-radius: 50px;
    color: #0A459E;
    font-weight: 550;
    font-size: 15px;
    letter-spacing: 0.8px;
    margin-right: 15px;
    cursor: pointer;
}



@media (max-width: 768px) {
    .footer {
        height: 80vh;
        margin-top: 40%;
        background-color: #0A459E;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .footer-content {
        width: 90%;
        height: 100%;
        text-align: center;
    }
    
}