@media (max-width: 768px) {
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
    pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,
    q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,
    ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: 200;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    
    body {
        width: 100%;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    .content {
        width: 100%;
    }

    .header {
        width: 100%;
        height: 100vh;
    }
}