/******* LANDING PAGE STYLES *******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: sans-serif;
}

.content {
    width: 100%;
    
}

.header {
    width: 100%;
    height: 585px;
    background-color: #EBF4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    width: 95%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    height: 110px;
    width: 110px;
    margin-left: 10px;
}

.header-btn {
    padding: 15px 35px;
    background-color: #2979EC;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 550;
    font-size: 15px;
    letter-spacing: 0.8px;
    margin-right: 15px;
}

.header-text {
    width: 80%;
    border: 1px solid black;
    
}

.header-text-content {
    width: 45%;
    
}

.header-text-content span {
    font-size: 50px;
}
