/******* LANDING PAGE STYLES *******/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 200;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
}

.content {
    width: 100%;
    overflow: scroll;
}

.header {
    width: 100%;
    height: 585px;
    background-color: #EBF4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 95%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    height: 110px;
    width: 110px;
    margin-left: 10px;
}

.header-btn {
    padding: 15px 35px;
    background-color: #2979EC;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 550;
    font-size: 15px;
    letter-spacing: 0.8px;
    margin-right: 15px;
}

.header-text {
    width: 80%;
    margin-bottom: 100px;
}

.header-text-content {
    width: 40%;
    margin-left: 10px;
}

.header-text-content h1 {
    font-size: 50px;
    letter-spacing: 1px;
}

.header-text-content p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .content {
        height: 100vh;
    }

    .header {
        height: 90vh;
    }

    .header-text {
        width: 90%;
        padding-bottom: 100px;
    }

    .header-text-content {
        width: 95%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }
}